body {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #008B8B;
    height: 120px;
}

header img {
    width: 130px;
    height: 120px;
    border-radius: 50%;
}

header h1 {
    color: #F0F8FF;
    font-family: "Roboto";
    align-self: center;
}

nav {
    display: flex;
    gap: 10px;
}

nav a {
    color: antiquewhite;
    position: relative;
    right: 10px;
    top: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: small;
}



.bg {
    /* The image used */
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/352/153/desktop-wallpaper-nice-backgrounds-extra-nice-background-pic.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


tr {
    background-color: #79c2be;
}

footer {
    height: 100px;
    background-color: #008B8B;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

footer a img {
    width: 45px;
    height: 40px;
}

footer b {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    right: 100px;
}

.cards {
    display: flex;
}

.card {
    background-color: #22A699;
    border: 1px solid #ccc;
    padding: 10px;
    width: 260px;
    margin: 8px;
}

.card-element {
    margin-bottom: 10px;
    padding: 5px;
    /* background-color: white; */
}

.card-image {
    width: 100%;
    border-radius: 40%;
}

.card-label {
    font-size: 15px;
    color: aliceblue;
}

#tableTag {
    width: 700px;
    margin: 30px;
    border-collapse: collapse;
    background-color: #b2baccaf;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#theaID,
#tFootID {
    text-align: left;
    background-color: #87ceeb;
    color: #fff;
}


th,
.tdClass {
    padding: 15px;


}

#trID {
    background-color: #ffffff;
}